.content {
    margin: 10px;
}
.myPostsHeader {
}
.newPost button {
    display: flex;
}
.myPosts {
    display: grid;
    grid-row-gap: 10px;
    margin-top: 20px;
}
h3, h4 {
    margin-bottom: 5px;
    margin-top: 10px;
}