.nav {
    grid-area: nav;
    background-color: rgba(206, 116, 206, 0.68);
    padding: 20px;
}
.item a {
    font-weight: bold;
    text-decoration: none;
    color: #500090;
}
.item:active{
    color: white;
}
.item .current {
    color: black;
}