.nav {
    grid-area: nav;
    background-color: rgba(215, 121, 215, 0.68);
    padding: 20px;
}
.item a {
    font-weight: bold;
    text-decoration: none;
    color: #500090;
}
.item:active{
    color: black;
}
.item .current {
    color: white;
}