.app-wrapper {
    display: grid;
    grid-template-areas:
            'header header'
            'nav content';
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
    gap: 10px 10px;
    margin: 10px 10% 10px 10%;
}
.app-wrapper-content {
    grid-area: content;
    background-color: rgba(255, 167, 222, 0.69);
}